fastapi == 0.100.0
uvicorn == 0.22.0

# database
SQLAlchemy == 2.0.13
psycopg2 == 2.9.6

# env var
python-dotenv == 1.0.0

# email validation
pydantic[email]

# hashing
passlib[bcrypt]

# unit testing
pytest
requests

# testing coverage, shows what hasn't been tested
pytest-cov

# cmd: pytest --cov="."
# more readable format cmd: pytest --cov="." --cov-report html  # you have to find the index.html file
# to omit test files, create a .coveragerc file like in this project
